### Python ###
__pycache__/
*.py[cod]
*$py.class
*.pyd
.venv/
*.egg-info/
.eggs/
dist/
wheelhouse/
build/
.mypy_cache/
.pytest_cache/
.ruff_cache/

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
*.slo
*.lai
*.smod

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*-prefix/
CMakeUserPresets.json

### MkDocs ###
site/

### JetBrains IDEs ###
.idea/
